# Rust
target/
Cargo.lock

# Env и ключи
.env
keys/
livekit-keys.yaml
livekit.yaml

# Tauri
client/src-tauri/target/
client/src-tauri/CaptureCore.dll
client/src-tauri/capture-core/build/

# Node
node_modules/
dist/
.vite/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
