DB_PASSWORD=changeme

CENTRAL_URL=https://beyvox.beykus.fun

LIVEKIT_API_KEY=devkey
LIVEKIT_API_SECRET=devsecret_at_least_32_chars_long!!

# Регистрация в публичном каталоге
CATALOG_REGISTER=false
SERVER_NAME=My BeyVox Server
SERVER_ADDRESS=my.server.com:8080
